@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap");

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: var(--very-pale-blue);
}

.container {
  min-height: 85vh;
  width: 100%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* order summary container */

.order-container {
  max-width: 85%;
  max-height: 75%;
  margin: auto;
  border-radius: 1em;
  background: white;
}

/* order upper content with image */

.order-image img {
  min-height: 35%;
  width: 100%;
  display: block;
  margin: auto;
  border-radius: 1em 1em 0 0;
}

/* order lower content */

.order-content {
  height: 65%;
  width: 100%;
  padding: 01rem;
}

/* order title  */

.order-title {
  font-size: 1.1rem;
  font-weight: 900;
  color: var(--dark-blue);
}

/* order description */

.order-description {
  margin: 1rem 0.2rem;
  font-size: 0.75rem;
  font-weight: 700;
  color: rgba(109, 121, 151, 0.79);
  line-height: 1.4rem;
}



.order-pricing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--very-pale-blue);
  padding: 0.6rem;
  margin: 1.5rem auto;
  border-radius: 0.5rem;
  font-size: 0.7rem;
}

.order-details {
  display: flex;
}

.order-details img {
  margin-right: 1rem;
}

.order-details span {
  display: block;

}

#plan {
  font-weight: 900;
}

.order-change {
  font-weight: 600;
  font-size: 0.7rem;
}

.order-change:hover {
  color: var(--desaturated-blue);
  cursor: pointer;
}


.order-payment {
  background-color: var(--bright-blue);
  font-size: 0.75rem;
  color: white;
  border-radius: 0.75em;
  height: 3.5em;
  font-weight: 900;
  box-shadow: 0px 5px 25px rgba(128, 128, 128, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-payment:hover {
  background-color: var(--desaturated-blue);
  cursor: pointer;
}

.order-cancel {
  height: 3em;
  font-size: 0.75rem;
  color: rgba(109, 121, 151, 0.79);
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.75rem;
  cursor: pointer;
}

/* footer section */

footer {
  min-height: 5vh;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attribution {
  font-size: 0.6rem;
}

.attribution a {
  color:var(--bright-blue);
}